<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title><%= pageTitle %></title>
    <link rel="icon" type="image/x-icon" href="/images/icons.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="modern-theme">
      <nav class="navbar navbar-dark bg-dark navbar-expand-xl fixed-top ">
        <div class="container">
            <a class="navbar-brand" href="/">All-In-One</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <!-- <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="/country">Country</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logo">Logo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dict">Dictionary</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/facts">Facts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/history">History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/jokes">Jokes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/recipe">Recipe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/quotes">Quotes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/riddles">Riddles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/thesaurus">Thesaurus</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/weather">Weather</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/exercises">Exercises</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/password">Password Generator</a>
                    </li>
                </ul>
                
            </div>
        </div>
       </nav>