* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: white;
    font-size: 2rem;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* Main Heading and form  */
.content-container {
    margin-top: 60px;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    text-align: center;
}

/* Header */
header {
    background-color: white;
    color: #333;
    padding: 10px 0;
    text-align: right;
}

/* Form and Search Results */
.form-container {
    margin: 20px 0;
    text-align: center;
}

form input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

form button[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Search Results */
.search-results {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    line-height: 1.6;
    margin-bottom: 15px;
    font-size: 1rem;
}

/* Error Message */
.error {
    color: #ff0000;
    font-weight: bold;
}

/* Style the video*/
#myVideo {
    position: fixed;
    /* right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%; */
    z-index: -1;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  
  /* Style the button used to pause/play the video */
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }

video {
    /* max-width: 100%;
    height: auto; */
    /* width: 100%; */
    height: 100vh;
}
